*{
    /* cursor: grab; */
    /* margin-left: 50px; */
}
.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: 100px;
    text-align: center;
    cursor: grab;

}
.black{
    background-color: black;
    color: white;

}
